.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #293f73;
  font-size: 18px;
  font-weight: 600;

  > img {
    width: 32px;
    height: 32px;
    margin-right: 10px;

    transition: transform 0.3s ease 0s;
  }

  &:hover {
    color: #7d52cc;
    > img {
      transform: scale(1.2) rotate(360deg);
    }
  }
}