.card {
  position: relative;
  overflow: hidden;
  border: 2px solid #eeeaf6;
  border-radius: 10px;
  padding: 15px 20px;
  background: #fff;
  transition: all 0.3s ease 0s;

  &-title {
    color: #7d52cc;
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    margin: 0;
  }

  &-value {
    color: #293f73;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 4px;
    margin: 0;
  }

  &:hover {
    border-color: #7d52cc;

    &:before {
      opacity: 1;
    }
  }

  &:before {
    position: absolute;
    content: '';
    height: 90px;
    width: 90px;
    background-image: url('../../../src/assets/images/bannar-virus-big.png');
    background-size: 100%;
    bottom: -35px;
    right: -35px;
    opacity: .5;
    -webkit-transition: .3s;
    transition: .3s;
  }
}