.card {
  text-align: center;
}

.image {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: var(--rem-25px, 25px);

  width: 150px;
  height: 150px;

  background-color: #fff;

  > img {
    width: auto;
    max-height: 150px;
  }
}

.title {
  margin: 0 0 1rem 0;
}

.description {
  margin: 0;
  color: #323a46;
}