.countries {
  margin-top: 50px;
  padding: 20px;
  border: 2px solid #eeeaf6;
  border-radius: 10px;
  transition: all 0.3s ease 0s;

  &-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 0 20px 0;

    > h1 {
      margin: 0;
    }
  }

  &-search {

    > input {
      width: 100%;
      background-color: transparent;
      border: 2px solid #eeeaf6;
      border-radius: 4px;
      color: #293f73;
      padding: .8rem;
      transition: border-color 0.3s ease 0s;

      &:hover {
        border-color: #7d52cc
      }

      &:focus {
        outline: none;
      }
    }
  }

  &:hover {
    border-color: #7d52cc;
  }
}