.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;

  height: 65px;

  display: flex;
  align-items: center;

  -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);

  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);

  .nav {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    align-items: center;

    &-item {
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }
    }

    &-link {
      text-decoration: none;
      color: #293f73;
      font-size: 18px;
      font-weight: 600;

      &.active,
      &:active {
        color: #7d52cc;
      }

      &:hover {
        color: #7d52cc;
      }
    }
  }
}